#tasklist {
	overflow: auto;
	height: 400px;
	}
	
#notificator {
	font-family: monospace;
	font-weight: 700;
	background-color:#F0E97C;
	height:24px;
	
}
.task {
	border-bottom: 1px dotted grey;
	}

.doneTask , .doneTask input{
	text-decoration:line-through;
	color: #CBCBCB;
}

.taskInput {
	border: 0px;
	width: 90%
}

.taskInputDone {
	font-style: italic
	}


a.deleteTask,  .deleteTask > img{ 
	border: 0px;
	}