#tasklist {
	overflow: auto;
	height: 400px;
	}
.task {
	border-bottom: 1px dotted grey;
	}

.doneTask , .doneTask input[type=textbox]{
	text-decoration:line-through;
	color: #CBCBCB;
}

.taskInput {
	border: 0px;
	width: 90%
}

.taskInputDone {
	font-style: italic
	}


a.deleteTask,  .deleteTask > img{ 
	border: 0px;
	}