#tasklist {
	overflow: auto;
	height: 100%;
	}
	
#notificator {
	font-family: monospace;
	font-weight: 700;
	background-color:#F0E97C;
	margin-top: 10px;
}
.task {
	border-bottom: 1px dotted grey;
	}

.doneTask , .doneTask input{
	text-decoration:line-through;
	color: #CBCBCB;
}

.taskInput {
	border: 0px;
	width: 90%
}

.taskInputDone {
	font-style: italic
	}


a.deleteTask,  .deleteTask > img{ 
	border: 0px;
	}
	
.popup {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0px;
    right: 0px;
	width: 150px;
	border: 1px solid;
	z-index: 100000;
}